 {% extends 'base.html' %} {% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <button type="submit" class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded"><a href="{% url 'leads:create-lead' %}" class="text-gray-900 hover:bg-purple-600 text-white-500 ">
                Create Lead
              </a></button>
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">Leads</h1>
        </div>

        <div class="flex flex-wrap -m-4">
            {% for Lead in leads %}
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <img alt="team" class="flex-shrink-0 rounded-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
                    <div class="w-full">
                        <h2 class="title-font font-medium text-lg text-gray-900">{{Lead.first_name}} {{Lead.last_name}}</h2>
                        <h3 class="text-gray-500 mb-3"> {{Lead.agent}} </h3>
                        <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                        <span class="inline-flex">
                    <a href="{% url 'leads:detail-lead' Lead.id %}" class="text-gray-900 hover:bg-purple-600 text-white-500 ">
                      View Lead
                    </a>
                  </span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
</section>

{% endblock content %}